<section class="py-12">
    <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="text-2xl md:text-3xl font-bold text-blue-900 mb-1 text-center">
            Tabla ISO 4427 : 2008
        </h2>
        <p class="text-center text-blue-900 font-semibold mb-2">
            Densidades de tubería de polietileno de alta densidad HDPE PE 80 NTP 4437:2008
        </p>
        <div class="overflow-x-auto rounded-lg border border-gray-300 mt-5">
            <table class="w-full min-w-[1200px] table-auto border-collapse text-sm text-center">
                <thead class="bg-blue-900 text-white">
                    <tr>
                        <th rowspan="2" colspan="2" class="border p-2">PE80</th>
                        <th colspan="2" class="border p-2">SDR</th>
                        <th colspan="4" class="border p-2">21</th>
                        <th colspan="4" class="border p-2">17</th>
                        <th colspan="4" class="border p-2">13.6</th>
                        <th colspan="4" class="border p-2">11</th>
                        <th colspan="4" class="border p-2">9</th>
                        <th colspan="4" class="border p-2">7.4</th>
                    </tr>
                    <tr class="bg-blue-900">
                        <th colspan="2" class="border p-2">PRESIÓN <br/> NOMINAL</th>
                        <th colspan="4" class="border p-2">PN6</th>
                        <th colspan="4" class="border p-2">PN8</th>
                        <th colspan="4" class="border p-2">PN10</th>
                        <th colspan="4" class="border p-2">PN12.5</th>
                        <th colspan="4" class="border p-2">PN16</th>
                        <th colspan="4" class="border p-2">PN20</th>
                    </tr>
                    <tr>
                        <th colspan="2" class="border p-2">
                            DIÁMETRO <br />
                            NOMINAL <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            DIÁMETRO <br />
                            NOMINAL <br />
                            (pulg)
                        </th>
                        <th colspan="2" class="border p-2">
                            Esp. <br />
                            Medio <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            Peso <br />
                            Medio <br />
                            (kg/m)
                        </th>
                        <th colspan="2" class="border p-2">
                            Esp. <br />
                            Medio <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            Peso <br />
                            Medio <br />
                            (kg/m)
                        </th>
                        <th colspan="2" class="border p-2">
                            Esp. <br />
                            Medio <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            Peso <br />
                            Medio <br />
                            (kg/m)
                        </th>
                        <th colspan="2" class="border p-2">
                            Esp. <br />
                            Medio <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            Peso <br />
                            Medio <br />
                            (kg/m)
                        </th>
                        <th colspan="2" class="border p-2">
                            Esp. <br />
                            Medio <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            Peso <br />
                            Medio <br />
                            (kg/m)
                        </th>
                        <th colspan="2" class="border p-2">
                            Esp. <br />
                            Medio <br />
                            (mm)
                        </th>
                        <th colspan="2" class="border p-2">
                            Peso <br />
                            Medio <br />
                            (kg/m)
                        </th>
                    </tr>
                </thead>
                <tbody class="text-gray-800">
                    <tr class="bg-gray-100">
                        <td colspan="2" class="border bg-blue-900 text-white p-2">20</td>
                        <td colspan="2" class="border bg-lime-400 p-2">1/2</td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.20</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.12</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.52</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.13</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.16</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">25</td>
                        <td colspan="2" class="border bg-lime-400 p-2">3/4</td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.20</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.15</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.52</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.17</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.21</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.78</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.24</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">32</td>
                        <td colspan="2" class="border bg-lime-400 p-2">1</td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2"></td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.2</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.19</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.62</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.23</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.28</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.88</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.33</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.72</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.39</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">40</td>
                        <td colspan="2" class="border bg-lime-400 p-2">1 1/4</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.2</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.62</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.29</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.36</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.99</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.43</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.83</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.51</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.88</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.60</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">50</td>
                        <td colspan="2" class="border bg-lime-400 p-2">1 1/2</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.62</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.37</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.46</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.99</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.55</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.93</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.67</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.98</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.79</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.35</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.94</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">63</td>
                        <td colspan="2" class="border bg-lime-400 p-2">2</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.25</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.58</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.09</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.72</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.04</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.88</td>
                        <td colspan="2" class="border bg-gray-100 p-2">6.19</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.06</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.56</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.26</td>
                        <td colspan="2" class="border bg-gray-100 p-2">9.13</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.48</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">75</td>
                        <td colspan="2" class="border bg-lime-400 p-2">2 1/2</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.88</td>
                        <td colspan="2" class="border bg-gray-100 p-2">0.83</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.83</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.02</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.98</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.24</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.24</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.48</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.92</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.77</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.92</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.10</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">90</td>
                        <td colspan="2" class="border bg-lime-400 p-2">3</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.62</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.19</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.77</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.46</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.14</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.78</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.71</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.13</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.71</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.55</td>
                        <td colspan="2" class="border bg-gray-100 p-2">13.02</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.02</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">110</td>
                        <td colspan="2" class="border bg-lime-400 p-2">4</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.67</td>
                        <td colspan="2" class="border bg-gray-100 p-2">1.78</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.03</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.18</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.61</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.63</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.60</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.17</td>
                        <td colspan="2" class="border bg-gray-100 p-2">13.02</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.80</td>
                        <td colspan="2" class="border bg-gray-100 p-2">15.96</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.52</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">125</td>
                        <td colspan="2" class="border bg-lime-400 p-2">5</td>
                        <td colspan="2" class="border bg-gray-100 p-2">6.40</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.28</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.87</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.77</td>
                        <td colspan="2" class="border bg-gray-100 p-2">9.76</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.38</td>
                        <td colspan="2" class="border bg-gray-100 p-2">12.07</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.10</td>
                        <td colspan="2" class="border bg-gray-100 p-2">14.80</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.90</td>
                        <td colspan="2" class="border bg-gray-100 p-2">18.06</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.81</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">140</td>
                        <td colspan="2" class="border bg-lime-400 p-2">5 1/2</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.14</td>
                        <td colspan="2" class="border bg-gray-100 p-2">2.85</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.82</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.48</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.92</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.24</td>
                        <td colspan="2" class="border bg-gray-100 p-2">13.44</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.12</td>
                        <td colspan="2" class="border bg-gray-100 p-2">16.59</td>
                        <td colspan="2" class="border bg-gray-100 p-2">6.16</td>
                        <td colspan="2" class="border bg-gray-100 p-2">20.26</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.30</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">160</td>
                        <td colspan="2" class="border bg-lime-400 p-2">6</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.19</td>
                        <td colspan="2" class="border bg-gray-100 p-2">3.74</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.08</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.55</td>
                        <td colspan="2" class="border bg-gray-100 p-2">12.49</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.54</td>
                        <td colspan="2" class="border bg-gray-100 p-2">15.43</td>
                        <td colspan="2" class="border bg-gray-100 p-2">6.71</td>
                        <td colspan="2" class="border bg-gray-100 p-2">18.90</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.02</td>
                        <td colspan="2" class="border bg-gray-100 p-2">23.10</td>
                        <td colspan="2" class="border bg-gray-100 p-2">9.52</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">180</td>
                        <td colspan="2" class="border bg-lime-400 p-2">7</td>
                        <td colspan="2" class="border bg-gray-100 p-2">9.13</td>
                        <td colspan="2" class="border bg-gray-100 p-2">4.69</td>
                        <td colspan="2" class="border bg-gray-100 p-2">11.34</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.75</td>
                        <td colspan="2" class="border bg-gray-100 p-2">14.07</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.02</td>
                        <td colspan="2" class="border bg-gray-100 p-2">17.32</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.48</td>
                        <td colspan="2" class="border bg-gray-100 p-2">21.21</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.13</td>
                        <td colspan="2" class="border bg-gray-100 p-2">25.93</td>
                        <td colspan="2" class="border bg-gray-100 p-2">12.02</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">200</td>
                        <td colspan="2" class="border bg-lime-400 p-2">8</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.18</td>
                        <td colspan="2" class="border bg-gray-100 p-2">5.82</td>
                        <td colspan="2" class="border bg-gray-100 p-2">12.60</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.10</td>
                        <td colspan="2" class="border bg-gray-100 p-2">15.54</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.62</td>
                        <td colspan="2" class="border bg-gray-100 p-2">19.21</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.45</td>
                        <td colspan="2" class="border bg-gray-100 p-2">23.62</td>
                        <td colspan="2" class="border bg-gray-100 p-2">12.54</td>
                        <td colspan="2" class="border bg-gray-100 p-2">28.87</td>
                        <td colspan="2" class="border bg-gray-100 p-2">14.87</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">225</td>
                        <td colspan="2" class="border bg-lime-400 p-2">9</td>
                        <td colspan="2" class="border bg-gray-100 p-2">11.4</td>
                        <td colspan="2" class="border bg-gray-100 p-2">7.35</td>
                        <td colspan="2" class="border bg-gray-100 p-2">14.17</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.99</td>
                        <td colspan="2" class="border bg-gray-100 p-2">17.53</td>
                        <td colspan="2" class="border bg-gray-100 p-2">10.95</td>
                        <td colspan="2" class="border bg-gray-100 p-2">21.63</td>
                        <td colspan="2" class="border bg-gray-100 p-2">13.24</td>
                        <td colspan="2" class="border bg-gray-100 p-2">26.56</td>
                        <td colspan="2" class="border bg-gray-100 p-2">15.86</td>
                        <td colspan="2" class="border bg-gray-100 p-2">32.44</td>
                        <td colspan="2" class="border bg-gray-100 p-2">18.80</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">250</td>
                        <td colspan="2" class="border bg-lime-400 p-2">10</td>
                        <td colspan="2" class="border bg-gray-100 p-2">12.6</td>
                        <td colspan="2" class="border bg-gray-100 p-2">8.99</td>
                        <td colspan="2" class="border bg-gray-100 p-2">15.64</td>
                        <td colspan="2" class="border bg-gray-100 p-2">11.03</td>
                        <td colspan="2" class="border bg-gray-100 p-2">19.42</td>
                        <td colspan="2" class="border bg-gray-100 p-2">13.48</td>
                        <td colspan="2" class="border bg-gray-100 p-2">23.94</td>
                        <td colspan="2" class="border bg-gray-100 p-2">16.28</td>
                        <td colspan="2" class="border bg-gray-100 p-2">29.40</td>
                        <td colspan="2" class="border bg-gray-100 p-2">19.52</td>
                        <td colspan="2" class="border bg-gray-100 p-2">36.01</td>
                        <td colspan="2" class="border bg-gray-100 p-2">23.19</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">280</td>
                        <td colspan="2" class="border bg-lime-400 p-2">11</td>
                        <td colspan="2" class="border bg-gray-100 p-2">14.17</td>
                        <td colspan="2" class="border bg-gray-100 p-2">11.34</td>
                        <td colspan="2" class="border bg-gray-100 p-2">17.53</td>
                        <td colspan="2" class="border bg-gray-100 p-2">13.85</td>
                        <td colspan="2" class="border bg-gray-100 p-2">21.73</td>
                        <td colspan="2" class="border bg-gray-100 p-2">16.89</td>
                        <td colspan="2" class="border bg-gray-100 p-2">26.77</td>
                        <td colspan="2" class="border bg-gray-100 p-2">20.40</td>
                        <td colspan="2" class="border bg-gray-100 p-2">32.97</td>
                        <td colspan="2" class="border bg-gray-100 p-2">24.50</td>
                        <td colspan="2" class="border bg-gray-100 p-2">40.32</td>
                        <td colspan="2" class="border bg-gray-100 p-2">29.08</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">315</td>
                        <td colspan="2" class="border bg-lime-400 p-2">12</td>
                        <td colspan="2" class="border bg-gray-100 p-2">15.8</td>
                        <td colspan="2" class="border bg-gray-100 p-2">14.27</td>
                        <td colspan="2" class="border bg-gray-100 p-2">19.74</td>
                        <td colspan="2" class="border bg-gray-100 p-2">17.54</td>
                        <td colspan="2" class="border bg-gray-100 p-2">24.46</td>
                        <td colspan="2" class="border bg-gray-100 p-2">21.39</td>
                        <td colspan="2" class="border bg-gray-100 p-2">30.13</td>
                        <td colspan="2" class="border bg-gray-100 p-2">25.83</td>
                        <td colspan="2" class="border bg-gray-100 p-2">37.06</td>
                        <td colspan="2" class="border bg-gray-100 p-2">31.00</td>
                        <td colspan="2" class="border bg-gray-100 p-2">45.36</td>
                        <td colspan="2" class="border bg-gray-100 p-2">36.81</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">355</td>
                        <td colspan="2" class="border bg-lime-400 p-2">14</td>
                        <td colspan="2" class="border bg-gray-100 p-2">17.85</td>
                        <td colspan="2" class="border bg-gray-100 p-2">18.11</td>
                        <td colspan="2" class="border bg-gray-100 p-2">22.26</td>
                        <td colspan="2" class="border bg-gray-100 p-2">22.29</td>
                        <td colspan="2" class="border bg-gray-100 p-2">27.51</td>
                        <td colspan="2" class="border bg-gray-100 p-2">27.11</td>
                        <td colspan="2" class="border bg-gray-100 p-2">33.91</td>
                        <td colspan="2" class="border bg-gray-100 p-2">32.77</td>
                        <td colspan="2" class="border bg-gray-100 p-2">41.79</td>
                        <td colspan="2" class="border bg-gray-100 p-2">39.39</td>
                        <td colspan="2" class="border bg-gray-100 p-2">51.03</td>
                        <td colspan="2" class="border bg-gray-100 p-2">46.68</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border bg-blue-900 text-white p-2">400</td>
                        <td colspan="2" class="border bg-lime-400 p-2">16</td>
                        <td colspan="2" class="border bg-gray-100 p-2">20.16</td>
                        <td colspan="2" class="border bg-gray-100 p-2">23.04</td>
                        <td colspan="2" class="border bg-gray-100 p-2">24.99</td>
                        <td colspan="2" class="border bg-gray-100 p-2">28.20</td>
                        <td colspan="2" class="border bg-gray-100 p-2">30.97</td>
                        <td colspan="2" class="border bg-gray-100 p-2">34.39</td>
                        <td colspan="2" class="border bg-gray-100 p-2">38.22</td>
                        <td colspan="2" class="border bg-gray-100 p-2">41.61</td>
                        <td colspan="2" class="border bg-gray-100 p-2">47.04</td>
                        <td colspan="2" class="border bg-gray-100 p-2">49.96</td>
                        <td colspan="2" class="border bg-gray-100 p-2">57.54</td>
                        <td colspan="2" class="border bg-gray-100 p-2">59.30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>