---
const productos = [
    {
        img: "/productos/pn-16.png",
        alt: "Tuberías HDPE",
        titulo: "ADAPTADOR HDPE COMPRESIÓN R/HEMBRA PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/adaptador-pn-16.png",
        alt: "Mangueras Duplex",
        titulo: "ADAPTADOR HDPE COMPRESIÓN R/MACHO PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/manguera-pn-16.png",
        alt: "Accesorios de Riego",
        titulo: "UNIÓN ENLACE MANGUERA MANGUERA PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/union-enlace-reducido.png",
        alt: "Aplicaciones en Construcción",
        titulo: "UNIÓN ENLACE REDUCIDO MANGUERA - MANGUERA PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/compresion-manguera.png",
        alt: "Tuberías HDPE",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - R/HEMBRA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/compresion-manguera-manguera.png",
        alt: "Mangueras Duplex",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/tee-reducida.png",
        alt: "Accesorios de Riego",
        titulo: "TEE REDUCIDA HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/tee-hdpe.png",
        alt: "Aplicaciones en Construcción",
        titulo: "TEE HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/tee-hdpe-16.png",
        alt: "Tuberías HDPE",
        titulo: "TEE HDPE PN-16 COMPRESIÓN MANGUERA - R/HEMBRA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/compresion-manguera-hdpe.png",
        alt: "Mangueras Duplex",
        titulo: "TAPÓN HDPE PN-16 COMPRESIÓN MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/valvula-pe-16.png",
        alt: "Accesorios de Riego",
        titulo: "VÁLVULA PE PN-16 MANGUERA MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/hembra-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE R/HEMBRA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/enlace-reducido.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE REDUCIDO HDPE COMPRESIÓN PN -16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/adaptador-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE R/MACHO PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/union-enlace.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE HDPE COMPRESIÓN PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tapon-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN HDPE PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/llave-de-ajuste.png",
        alt: "Adaptadores y Conectores",
        titulo: "LLAVE DE AJUSTE - APRETA FITTING",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-compresion.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE COMPRESIÓN MANGUERA - MANGUERA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-compresion-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE R/HEMBRA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tee-compresion.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN MANGUERA - MANGUERA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tee-reducida-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE REDUCIDA HDPE COMPRESIÓN MANGUERA - MANGUERA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/compresion-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN MANGUERA - R/HEMBRA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE R/MACHO PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/union-manguito.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNION PP MANGUITO R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-pp-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO PP R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tee-pp-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE PP R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/niple-pp-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "NIPLE PP R/MACHO",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/union-pp-manguito-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNION PP MANGUITO REDUC R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/campana-hembra-union-reducida.png",
        alt: "Adaptadores y Conectores",
        titulo: "CAMPANA R/HEMBRA HDPE UNIÓN REDUCIDA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/bushing-reduccion-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "BUSHING REDUCCIÓN PE",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tapon-r-hdpe-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN HDPE R/HEMBRA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/niple-pe-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "NIPLE PE R/MACHO",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/adaptador-pn-16-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE PN-16 COMPRESIÓN R/HEMBRA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/union-enlace-reducido-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE REDUCIDO HDPE COMPRESIÓN PN-16",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/adaptador-r-compresion-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE PN-16 COMPRESIÓN R/MACHO",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/union-enlace-recto.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE RECTO HDPE COMPRESIÓN PN-16",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tee-hdpe-r-hembra-manguera.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN PN-16 MANGUERA – R/HEMBRA - MANGUERA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tee-hdpe-compresion-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN PN-16 MANGUERA - MANGUERA - MANGUERA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    }
];
---
<section class="py-12 bg-gray-100">
    <div class="max-w-screen-xl mx-auto px-4 py-12">
        <h3 class="text-3xl md:text-4xl font-bold text-blue-900 mb-10 text-center">
            Nuestros Productos
        </h3>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            {
                productos.map(({ img, alt, titulo, parrafo }) => (
                    <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300 flex flex-col">
                        <img src={img} alt={alt} class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                        <div class="flex-1 flex flex-col justify-between">
                            <div>
                                <h4 class="font-bold text-blue-900 text-center break-words mb-2">
                                    {titulo}
                                </h4>
                                {parrafo && (
                                    <p class="text-sm text-gray-700 text-center mb-4">
                                        {parrafo}
                                    </p>
                                )}
                            </div>
                            <a href="#cotizar" class="inline-block px-6 py-2 rounded-full bg-gradient-to-r from-blue-900 to-blue-700 text-white text-center font-medium text-sm shadow-md hover:shadow-lg hover:scale-105 transform transition-all duration-300">
                                Solicitar Cotización
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>