---
const productos = [
    {
        img: "/productos/pn-16.png",
        alt: "Tuberías HDPE",
        titulo: "ADAPTADOR HDPE COMPRESIÓN R/HEMBRA PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/adaptador-pn-16.png",
        alt: "Mangueras Duplex",
        titulo: "ADAPTADOR HDPE COMPRESIÓN R/MACHO PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/manguera-pn-16.png",
        alt: "Accesorios de Riego",
        titulo: "UNIÓN ENLACE MANGUERA MANGUERA PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/union-enlace-reducido.png",
        alt: "Aplicaciones en Construcción",
        titulo: "UNIÓN ENLACE REDUCIDO MANGUERA - MANGUERA PN-16",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/compresion-manguera.png",
        alt: "Tuberías HDPE",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - R/HEMBRA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/compresion-manguera-manguera.png",
        alt: "Mangueras Duplex",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/tee-reducida.png",
        alt: "Accesorios de Riego",
        titulo: "TEE REDUCIDA HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/tee-hdpe.png",
        alt: "Aplicaciones en Construcción",
        titulo: "TEE HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/tee-hdpe-16.png",
        alt: "Tuberías HDPE",
        titulo: "TEE HDPE PN-16 COMPRESIÓN MANGUERA - R/HEMBRA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/compresion-manguera-hdpe.png",
        alt: "Mangueras Duplex",
        titulo: "TAPÓN HDPE PN-16 COMPRESIÓN MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/valvula-pe-16.png",
        alt: "Accesorios de Riego",
        titulo: "VÁLVULA PE PN-16 MANGUERA MANGUERA",
        parrafo: "GPA es una de las empresas mas importantes en el sector de fabricación de productos plásticos y moldes en Turquía desde hace más de 25 años. Sus productos cuentan con certificación ISO:9001, ISO 17885. La línea completa de Fittings HDPE PN-16 está fabricada con Copolímero de Polipropileno, los O-RINGS son de Caucho de Nitrilo NBR70, y los anillos partidos de Poliacetal. Cuentan con protección UV. Se pueden utilizadar de forma segura en: Red Urbana de Agua Potable, Sistemas de Riego Agrícola, Sistemas de Rociadores, Sistemas de Piscinas, Transporte de sustancias líquidas."
    },
    {
        img: "/productos/hembra-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE R/HEMBRA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/enlace-reducido.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE REDUCIDO HDPE COMPRESIÓN PN -16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/adaptador-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE R/MACHO PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/union-enlace.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE HDPE COMPRESIÓN PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tapon-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN HDPE PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/llave-de-ajuste.png",
        alt: "Adaptadores y Conectores",
        titulo: "LLAVE DE AJUSTE - APRETA FITTING",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-compresion.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE COMPRESIÓN MANGUERA - MANGUERA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-compresion-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE R/HEMBRA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tee-compresion.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN MANGUERA - MANGUERA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tee-reducida-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE REDUCIDA HDPE COMPRESIÓN MANGUERA - MANGUERA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/compresion-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN MANGUERA - R/HEMBRA PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE R/MACHO PN-16",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/union-manguito.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNION PP MANGUITO R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/codo-pp-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO PP R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/tee-pp-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE PP R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/niple-pp-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "NIPLE PP R/MACHO",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/union-pp-manguito-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNION PP MANGUITO REDUC R/HEMBRA",
        parrafo: "Fundada en Turquía hace 45 años, fabrica fittings de altacalidad con POLIPROPILENO VIRGEN para mangueras de Alta y Baja Densidad. Sus Fittings HDPE PN-16 cuentan con certificaciones: ISO: 9001:2015, ISO: 45001:2018, ISO: 17885"
    },
    {
        img: "/productos/campana-hembra-union-reducida.png",
        alt: "Adaptadores y Conectores",
        titulo: "CAMPANA R/HEMBRA HDPE UNIÓN REDUCIDA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/bushing-reduccion-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "BUSHING REDUCCIÓN PE",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tapon-r-hdpe-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN HDPE R/HEMBRA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/niple-pe-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "NIPLE PE R/MACHO",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/adaptador-pn-16-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE PN-16 COMPRESIÓN R/HEMBRA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/union-enlace-reducido-hdpe.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE REDUCIDO HDPE COMPRESIÓN PN-16",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/adaptador-r-compresion-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE PN-16 COMPRESIÓN R/MACHO",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/union-enlace-recto.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE RECTO HDPE COMPRESIÓN PN-16",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tee-hdpe-r-hembra-manguera.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN PN-16 MANGUERA – R/HEMBRA - MANGUERA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tee-hdpe-compresion-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE HDPE COMPRESIÓN PN-16 MANGUERA - MANGUERA - MANGUERA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/codo-hdpe-pn-16-compresion.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - R/MACHO",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/adaptador-hdpe-p-brida-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR HDPE P/BRIDA PN16",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/codo-hdpe-pn-16-compresion-manguera.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - R/HEMBRA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/tapon-hdpe-pn-16-compresion.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN HDPE PN-16 COMPRESIÓN",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/codo-hdpe-pn-16-compresion-manguera-manguera.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO HDPE PN-16 COMPRESIÓN MANGUERA - MANGUERA",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/valvula-corporation-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA CORPORATION PN-16",
        parrafo: "La Línea de Compresión PN-16 de Elysse para conexiones de tuberías y mangueras de Alta y Baja Densidad: Esta fabrica con: COPOLÍMERO DE POLIPROPILENO para ofrecerte la mejor resistencia y duración. Cuenta con Protección UV y Certificaciones: ISO 3458, 3459, 3501, 3503 ISO 17885 DIN 8076."
    },
    {
        img: "/productos/gotero-regulable-gran-caudal.png",
        alt: "Adaptadores y Conectores",
        titulo: "GOTERO REGULABLE GRAN CAUDAL",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/enlace-hdpe-microtubo.png",
        alt: "Adaptadores y Conectores",
        titulo: "ENLACE HDPE MICROTUBO",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/microaspersor-super-bailarina-normal-c-estaca.png",
        alt: "Adaptadores y Conectores",
        titulo: "MICROASPERSOR SUPER BAILARINA NORMAL C/ESTACA",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/tapon-pinchado-con-agujero.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN PINCHADO CON AGUJERO",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/microaspersor-super-difusor-c-estaca.png",
        alt: "Adaptadores y Conectores",
        titulo: "MICROASPERSOR SUPER DIFUSOR C/ESTACA",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/acople-conector-pe-gotero-microtubo-04-salidas.png",
        alt: "Adaptadores y Conectores",
        titulo: "ACOPLE CONECTOR PE GOTERO - MICROTUBO 04 SALIDAS",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/piqueta-curva.png",
        alt: "Adaptadores y Conectores",
        titulo: "PIQUETA CURVA",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/valvula-de-aire-combination-1-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA DE AIRE COMBINATION 1\" R/MACHO",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/arqueta-pequena.png",
        alt: "Adaptadores y Conectores",
        titulo: "ARQUETA PEQUEÑA",
        parrafo: "Fabricadas en Polipropileno de la más alta resistencia. Para proteger empalmes y distribuciones de canalizaciones."
    },
    {
        img: "/productos/arqueta-grande.png",
        alt: "Adaptadores y Conectores",
        titulo: "ARQUETA GRANDE",
        parrafo: "Fabricadas en Polipropileno de la más alta resistencia. Para proteger empalmes y distribuciones de canalizaciones."
    },
    {
        img: "/productos/llave-para-ajustar-fittings.png",
        alt: "Adaptadores y Conectores",
        titulo: "LLAVE PARA AJUSTAR FITTINGS",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/adaptador-universal-r-macho-p-bidon.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR UNIVERSAL 1½” R/MACHO P/BIDÓN",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/soporte-aspersor-acople-toma-acetal-completo.png",
        alt: "Adaptadores y Conectores",
        titulo: "SOPORTE ASPERSOR ACOPLE - TOMA ACETAL COMPLETO",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/codo-dentado-acetal.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO DENTADO ACETAL",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/yee-pe-dentada-acetal.png",
        alt: "Adaptadores y Conectores",
        titulo: "YEE PE DENTADA ACETAL",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/yee-pe-dentada-2-salidas-acetal-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "YEE PE DENTADA 2 SALIDAS ACETAL R/MACHO",
        parrafo: "Desde 1985, con sede en España y presentes en más de 30 paises, permanece a la vanguardia en la producción y suministro de todos los componentes para la implantación de los diversos sistemas de riego."
    },
    {
        img: "/productos/mangueras-para-riego.png",
        alt: "Adaptadores y Conectores",
        titulo: "MANGUERAS PARA RIEGO",
        parrafo: "-Las mangueras HDPE se pueden usar para la conducción de fluidos en diversos sectores tales como la minería, agricultura, pesquería, industria y saneamiento. -La tubería de LDPE fabricada con este tipo de resina, se utiliza principalmente para las operaciones de irrigación. -Fabricadas con resinas de polietileno 100% vírgenes (PE 100 en modelos HDPE) para una mayor durabilidad. -Manguera de larga vidad útil"
    },
    {
        img: "/productos/plastico-mulch-negro-plateado.png",
        alt: "Adaptadores y Conectores",
        titulo: "PLÁSTICO MULCH ( NEGRO / PLATEADO)",
        parrafo: "-Importado Exclusivamente desde COREA. -Fabricado con Resinas 100% vírgenes de Polietileno de baja densidad (LDPE) y PEBD. -Protege a tu Cultivo de las malezas. -Ideal para Cultivos que requieren mayor luminosidad, ya que refleja los rayos del sol y reducción de temperatura en las raíces. -Calidad PREMIUM."
    },
    {
        img: "/productos/cinta-de-goteo-eolos-compact-eurodrip.png",
        alt: "Adaptadores y Conectores",
        titulo: "CINTA DE GOTEO EOLOS COMPACT EURODRIP",
        parrafo: "-"
    },
    {
        img: "/productos/manguera-c-gotero-ngr-eurodrip.png",
        alt: "Adaptadores y Conectores",
        titulo: "MANGUERA C/GOTERO NGR EURODRIP",
        parrafo: "-"
    },
    {
        img: "/productos/ventosa-media.png",
        alt: "Adaptadores y Conectores",
        titulo: "VENTOSA 1/2”",
        parrafo: "Cuenta con línea completa de Aspersores No Impacto MAX POWER, adaptadores, conectores, microaspersores y nuestra nueva línea de accesorios de PVC para Tuberías."
    },
    {
        img: "/productos/adaptador-universal-p-boquilla-de-rociador.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR UNIVERSAL P/BOQUILLA DE ROCIADOR",
        parrafo: "Cuenta con línea completa de Aspersores No Impacto MAX POWER, adaptadores, conectores, microaspersores y nuestra nueva línea de accesorios de PVC para Tuberías."
    },
    {
        img: "/productos/bomba-completa-spry-fuente.png",
        alt: "Adaptadores y Conectores",
        titulo: "BOMBA COMPLETA (SPRY + FUENTE)",
        parrafo: "Para Sanitizacióno Riego por Nebulización."
    },
    {
        img: "/productos/union-manguito-reducido-r-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN MANGUITO REDUCIDO R/HEMBRA",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/kit-manguera-conector-11-nebulizadores.png",
        alt: "Adaptadores y Conectores",
        titulo: "KIT MANGUERA CONECTOR + 11 NEBULIZADORES",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/union-manguito-r-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN MANGUITO R/HEMBRA",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/codo-pvc-45-pn-10s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO PVC 45° PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/codo-pvc-90-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO PVC 90° PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/tee-pvc-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE PVC PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/tee-reduccion-pvc-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE REDUCCIÓN PVC PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/yee-pvc-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "YEE PVC PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/cruceta-pvc-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "CRUCETA PVC PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/union-reduccion-pvc-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN REDUCCIÓN PVC PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/adaptador-upr-pvc-pn-10-bspt-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR UPR PVC PN-10 BSPT R/MACHO",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/brida-loca-pvc-pn-10-y-pn-16.png",
        alt: "Adaptadores y Conectores",
        titulo: "BRIDA LOCA PVC PN-10 y PN 16",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/buje-reduccion-pvc-pn-16-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "BUJE REDUCCIÓN PVC PN-16 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/tapon-pvc-npt-pn-10-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN PVC NPT PN-10 R/HEMBRA",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/tapon-pvc-pn-10-s-p.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN PVC PN-10 S/P",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/adaptador-mixto-r-hembra-p-max-power.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR MIXTO R/HEMBRA P/MAX POWER",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/adaptador-mixto-r-macho-p-max-power.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR MIXTO R/MACHO P/MAX POWER",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/boquilla-p-rotor.png",
        alt: "Adaptadores y Conectores",
        titulo: "BOQUILLA P/ROTOR",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/nebulizador-t-fogger-4-salidas-1-salida-check-lpd.png",
        alt: "Adaptadores y Conectores",
        titulo: "NEBULIZADOR T/FOGGER 4 SALIDAS 1 SALIDA + CHECK LPD",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/microaspersor-c-bailarina-estaca-40-cm-microturbo-50cm.png",
        alt: "Adaptadores y Conectores",
        titulo: "MICROASPERSOR C/BAILARINA 2.5BAR + ESTACA 40CM + MICROTUBO 50CM",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/microaspersor-bailarina-morada-microtubo-40cm-estaca-35cm.png",
        alt: "Adaptadores y Conectores",
        titulo: "MICROASPERSOR BAILARINA MORADA 3/8\" + MICROTUBO 40CM + ESTACA 35CM",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/aspersor-plastico-circular-antihelada-3-salidas-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ASPERSOR PLÁSTICO CIRCULAR ½” ANTIHELADA 3 SALIDAS R/MACHO",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/aspersor-plastico-sectorial-r-macho-estaca.png",
        alt: "Adaptadores y Conectores",
        titulo: "ASPERSOR PLÁSTICO SECTORIAL ½” R/MACHO + ESTACA",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/aspersor-no-impacto-con-6-salidas-angulo-alto.png",
        alt: "Adaptadores y Conectores",
        titulo: "aspersor no impacto 3/4” con 6 salidas ángulo alto",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/aspersor-no-impacto-con-9-salidas-angulo-alto.png",
        alt: "Adaptadores y Conectores",
        titulo: "aspersor no impacto 3/4” con 9 salidas ángulo alto",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/mini-aspersor-no-impacto-angulo-bajo-y-alto.png",
        alt: "Adaptadores y Conectores",
        titulo: "MINI ASPERSOR NO IMPACTO ANGULO BAJO Y ALTO ½” ",
        parrafo: "GR es nuestra marca registrada, enfocada en brindarte las mejores soluciones en riego y conexiones para tuberías. Productos fabricados en el extranjero con los mejores estándares de calidad para un gran desempeño."
    },
    {
        img: "/productos/aspersor-no-impacto-angulo-bajo.png",
        alt: "Adaptadores y Conectores",
        titulo: "ASPERSOR NO IMPACTO ÁNGULO BAJO ¾”",
        parrafo: "SÚPER MAX POWER."
    },
    {
        img: "/productos/supermax-power-angulo-medio-6-salidas-con-nuevo-sistema-de-boquillas.png",
        alt: "Adaptadores y Conectores",
        titulo: "super max power ANGULO MEDIO 6 salidas con nuevo sistema de boquillas",
        parrafo: "SÚPER MAX POWER."
    },
    {
        img: "/productos/aspersor-no-impacto-angulo-medio-6-salidas-mining.png",
        alt: "Adaptadores y Conectores",
        titulo: "ASPERSOR NO IMPACTO ANGULO MEDIO 6 salidas - MINING ¾” -",
        parrafo: "SÚPER MAX POWER."
    },
    {
        img: "/productos/angulo-alto-r-macho-ultra-resistencia.png",
        alt: "Adaptadores y Conectores",
        titulo: "ÁNGULO ALTO - R/MACHO 3/4” - ULTRA RESISTENCIA",
        parrafo: "SÚPER MAX POWER."
    },
    {
        img: "/productos/9-salidas-gotas-mas-finas.png",
        alt: "Adaptadores y Conectores",
        titulo: "9 SALIDAS -gotas más finas -menos erosión -mejor absorción",
        parrafo: "SÚPER MAX POWER."
    },
    {
        img: "/productos/boquillas-14-15-7-18-20-en-modelos-de-6-9-salidas.png",
        alt: "Adaptadores y Conectores",
        titulo: "boquillas # 14,15, 17, 18, 20. en modelos de 6 y 9 salidas. ángulo alto ¾”",
        parrafo: "SÚPER MAX POWER."
    },
    {
        img: "/productos/valvula-ramal-dentada-manguera-leon.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL DENTADA MANGUERA LEÓN",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-r-macho-dentado-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA R/MACHO – DENTADO DRAGÓN PREMIUN",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-ramal-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL DRAGÓN PREMIUM",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-r-macho-dentado-leon.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA R/MACHO – DENTADO LEÓN",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-ramal-dentada-puma-pro.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL DENTADA PUMA PRO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-ramal-cinta-r-macho-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL CINTA - R/MACHO DRAGÓN PREMIUM",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-ramal-dentada-tigre.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL DENTADA TIGRE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-ramal-cinta-layflat-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL CINTA - LAYFLAT DRAGÓN PREMIUM",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-cinta-cinta-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA CINTA - CINTA DRAGÓN - PREMIUM",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-cinta-cinta-puma-pro.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA CINTA – CINTA PUMA PRO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-cinta-manguera-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA CINTA - MANGUERA DRAGÓN - PREMIUM",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-cinta-cinta-roscado.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR CINTA – CINTA ROSCADO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-manguera-cinta-pesada-puma-pro.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA MANGUERA - CINTA PESADA PUMA PRO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-cinta-manguera-roscado.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR CINTA – MANGUERA ROSCADO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-cinta-manguera-c-anillo-puma-pro.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA CINTA - MANGUERA C/ANILLO PUMA PRO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-cinta-cinta-c-anillos.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR CINTA - CINTA C/ANILLOS",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-conector-inicial-cinta-puma-pro.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA CONECTOR INICIAL - CINTA PUMA PRO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-cinta-manguera-c-anillo.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR CINTA - MANGUERA C/ANILLO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/valvula-ramal-manguera-manguera-dragon-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA RAMAL MANGUERA-MANGUERA DRAGÓN PREMIUM",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-cinta-lay-flat.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE CINTA - LAY FLAT",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tapon-cinta-de-goteo-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN CINTA DE GOTEO PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/codo-cinta-cinta.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO CINTA - CINTA",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-cinta-cinta.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE CINTA - CINTA",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/yee-cinta-cinta-manguera.png",
        alt: "Adaptadores y Conectores",
        titulo: "YEE CINTA - CINTA - MANGUERA",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-cinta-manguera.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE CINTA - MANGUERA",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-cinta-layflat-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR CINTA - LAYFLAT PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-cinta-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE CINTA - R/MACHO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-inicial-cinta-con-o-sin-empaque.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR INICIAL - CINTA CON O SIN EMPAQUE*",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/adaptador-mixto-cinta-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR MIXTO CINTA R/MACHO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-mixto-dentado-r-macho-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR MIXTO DENTADO R/MACHO PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/adaptador-mixto-mando-hidraulico-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR MIXTO MANDO HIDRÁULICO R/MACHO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/codo-mixto-macho-dentado-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO MIXTO MACHO DENTADO PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/codo-mixto-mando-hidraulico-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO MIXTO MANDO HIDRÁULICO R/MACHO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-dentada-mixta-r-macho-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE DENTADA MIXTA R/MACHO PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-mixta-mando-hidraulico-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE MIXTA MANDO HIDRÁULICO R/MACHO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/conector-inicial-empaque.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR INICIAL + EMPAQUE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tee-mando-hidraulico.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE MANDO HIDRÁULICO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/union-enlace-dentado-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN ENLACE DENTADO PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/tapon-terminal-de-linea-en-ocho.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPÓN TERMINAL DE LINEA EN OCHO",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/codo-dentado-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO DENTADO PE",
        parrafo: "Uno de los fabricantes de riego más especializados, establecidos en 2009 con el compromiso de proporcionar soluciones de riego para usuarios globales. Después de más de 14 años de desarollo e innovación continua se ha convertido en el fabricante de productos para riego líder en Italia y extendido su buena reputación a nivel mundial."
    },
    {
        img: "/productos/union-dentada-abs.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN DENTADA (ABS)",
        parrafo: "El acrilonitrilo butadieno estireno o ABS es un plástico muy resistente al impacto."
    },
    {
        img: "/productos/union-dentada-acetal-marron.png",
        alt: "Adaptadores y Conectores",
        titulo: "UNIÓN DENTADA ACETAL MARRÓN",
        parrafo: "-"
    },
    {
        img: "/productos/tee-dentada-acetal-marron.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE DENTADA PE",
        parrafo: "-"
    },
    {
        img: "/productos/tee-dentada-acetal-marron.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE DENTADA ACETAL MARRÓN",
        parrafo: "La línea de productos Acetal (polioximetileno), además de ser resistente al desgaste, permite el flujo de mezclas con productos químicos y otros insumos; evitando la corrosión de los mismos accesorios. "
    },
    {
        img: "/productos/yee-dentada-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "YEE DENTADA PE",
        parrafo: "- "
    },
    {
        img: "/productos/codo-dentado-acetal-marron.png",
        alt: "Adaptadores y Conectores",
        titulo: "CODO DENTADO ACETAL MARRÓN",
        parrafo: "-"
    },
    {
        img: "/productos/adaptador-mixto-dentado-r-macho-acetal.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR MIXTO DENTADO R/MACHO ACETAL",
        parrafo: "-"
    },
    {
        img: "/productos/toma-yaguja-manometrica.png",
        alt: "Adaptadores y Conectores",
        titulo: "TOMA Y AGUJA MANOMÉTRICA",
        parrafo: "-"
    },
    {
        img: "/productos/bushing-p-manometro.png",
        alt: "Adaptadores y Conectores",
        titulo: "BUSHING P/MANÓMETRO",
        parrafo: "-"
    },
    {
        img: "/productos/manometro-de-glicerina.png",
        alt: "Adaptadores y Conectores",
        titulo: "MANÓMETRO DE GLICERINA 1/4\"",
        parrafo: "-"
    },
    {
        img: "/productos/acople-conector-gotero-microtubo.png",
        alt: "Adaptadores y Conectores",
        titulo: "ACOPLE CONECTOR GOTERO-MICROTUBO",
        parrafo: "-"
    },
    {
        img: "/productos/piquetas-rectas-y-curvas.png",
        alt: "Adaptadores y Conectores",
        titulo: "PIQUETAS RECTAS Y CURVAS",
        parrafo: "-"
    },
    {
        img: "/productos/conector-dentado-microtubo.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR DENTADO MICROTUBO",
        parrafo: "-"
    },
    {
        img: "/productos/piqueta-curva-tipo-e.png",
        alt: "Adaptadores y Conectores",
        titulo: "PIQUETA CURVA TIPO E",
        parrafo: "-"
    },
    {
        img: "/productos/valvula-para-manga-aspersora.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA PARA MANGA ASPERSORA",
        parrafo: "-"
    },
    {
        img: "/productos/adaptador-mixto-slip-r-hembra-nebulizador.png",
        alt: "Adaptadores y Conectores",
        titulo: "ADAPTADOR MIXTO SLIP R/HEMBRA NEBULIZADOR",
        parrafo: "-"
    },
    {
        img: "/productos/conector-enlace-para-manga-aspersora.png",
        alt: "Adaptadores y Conectores",
        titulo: "CONECTOR ENLACE PARA MANGA ASPERSORA",
        parrafo: "-"
    },
    {
        img: "/productos/tee-slip-lock-microtubo.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE SLIP LOCK MICROTUBO",
        parrafo: "-"
    },
    {
        img: "/productos/tapon-estaca-para-manga-aspersora.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPON ESTACA PARA MANGA ASPERSORA",
        parrafo: "-"
    },
    {
        img: "/productos/tee-slip-lock-microtubo-r-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "TEE SLIP LOCK MICROTUBO R/HEMBRA",
        parrafo: "-"
    },
    {
        img: "/productos/clip-abrazadera-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "CLIP ABRAZADERA PE",
        parrafo: "-"
    },
    {
        img: "/productos/tapon-media.png",
        alt: "Adaptadores y Conectores",
        titulo: "TAPON ¼”",
        parrafo: "-"
    },
    {
        img: "/productos/gancho-para-tuberia-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "GANCHO PARA TUBERIA PE",
        parrafo: "-"
    },
    {
        img: "/productos/flushing-r-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "FLUSHING ¾” R/HEMBRA",
        parrafo: "-"
    },
    {
        img: "/productos/nebulizador-conector-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "NEBULIZADOR + CONECTOR R/MACHO",
        parrafo: "-"
    },
    {
        img: "/productos/bushing-reductor-tres-cuarto.png",
        alt: "Adaptadores y Conectores",
        titulo: "BUSHING REDUCTOR 3/4\"- R/M X 1/2\"- R/H",
        parrafo: "-"
    },
    {
        img: "/productos/kit-nebulizador.png",
        alt: "Adaptadores y Conectores",
        titulo: "KIT NEBULIZADOR",
        parrafo: "-"
    },
    {
        img: "/productos/prefiltro-para-bomba.png",
        alt: "Adaptadores y Conectores",
        titulo: "PREFILTRO PARA BOMBA",
        parrafo: "-"
    },
    {
        img: "/productos/check-lpd-blanco.png",
        alt: "Adaptadores y Conectores",
        titulo: "CHECK LPD BLANCO",
        parrafo: "-"
    },
    {
        img: "/productos/boquilla-baja-presion-bronce-p-nebulizador.png",
        alt: "Adaptadores y Conectores",
        titulo: "BOQUILLA BAJA PRESION BRONCE P/NEBULIZADOR",
        parrafo: "-"
    },
    {
        img: "/productos/boquilla-baja-presion-acero-inoxidable-p-nebulizador.png",
        alt: "Adaptadores y Conectores",
        titulo: "BOQUILLA BAJA PRESION ACERO INOXIDABLE P/NEBULIZADOR",
        parrafo: "-"
    },
    {
        img: "/productos/punzon-doble-punch-manguera-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "PUNZÓN DOBLE PUNCH MANGUERA PE",
        parrafo: "-"
    },
    {
        img: "/productos/punzon-para-manguera-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "PUNZÓN PARA MANGUERA PE",
        parrafo: "-"
    },
    {
        img: "/productos/punch-sacabocado-manual.png",
        alt: "Adaptadores y Conectores",
        titulo: "PUNCH SACABOCADO MANUAL",
        parrafo: "Púnzon para goteros y Sacabocado para conectores iniciales."
    },
    {
        img: "/productos/broca-taladro-tv-16mm.png",
        alt: "Adaptadores y Conectores",
        titulo: "BROCA TALADRO TV 16MM",
        parrafo: "-"
    },
    {
        img: "/productos/broca-taladro-tv-16mm.png",
        alt: "Adaptadores y Conectores",
        titulo: "HERRAMIENTA PARA CHAFLÁN",
        parrafo: "Úsalo para un mejor y más rápido acople en mangueras y tuberías"
    },
    {
        img: "/productos/broca-taladro-16mm-c-copa.png",
        alt: "Adaptadores y Conectores",
        titulo: "BROCA TALADRO 16MM C/COPA",
        parrafo: "-"
    },
    {
        img: "/productos/inyector-venturi.png",
        alt: "Adaptadores y Conectores",
        titulo: "INYECTOR VENTURI",
        parrafo: "-"
    },
    {
        img: "/productos/broca-taladro-16mm-premium.png",
        alt: "Adaptadores y Conectores",
        titulo: "BROCA TALADRO 16MM PREMIUN",
        parrafo: "-"
    },
    {
        img: "/productos/bandeja-de-germinacion.png",
        alt: "Adaptadores y Conectores",
        titulo: "BANDEJA DE GERMINACIÓN",
        parrafo: "-"
    },
    {
        img: "/productos/layflat-punch-tubo-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "LAYFLAT PUNCH-PUNZON TUBO PE",
        parrafo: "-"
    },
    {
        img: "/productos/estaca-de-puas-p-manguera-pe.png",
        alt: "Adaptadores y Conectores",
        titulo: "ESTACA DE PUAS P/MANGUERA PE",
        parrafo: "-"
    },
    {
        img: "/productos/estaca-c-espiga-hembra-r-macho.png",
        alt: "Adaptadores y Conectores",
        titulo: "ESTACA C/ESPIGA 1/2” R/HEMBRA - 3/4” R/MACHO",
        parrafo: "-"
    },
    {
        img: "/productos/valvula-esferica-compacta-pvc-r-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA ESFÉRICA COMPACTA PVC R/HEMBRA",
        parrafo: "-"
    },
    {
        img: "/productos/valvula-de-acople-rapido-llave-bayoneta.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA DE ACOPLE RÁPIDO + LLAVE BAYONETA",
        parrafo: "-"
    },
    {
        img: "/productos/valvula-esferica-compacta-pvc-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA ESFÉRICA COMPACTA PVC R/HEMBRA",
        parrafo: "-"
    },
    {
        img: "/productos/valvula-simple-universal-r-hembra.png",
        alt: "Adaptadores y Conectores",
        titulo: "VÁLVULA SIMPLE UNIVERSAL R/H",
        parrafo: "-"
    }
];
---
<section class="py-12 bg-gray-100">
    <div class="max-w-screen-xl mx-auto px-4 py-12">
        <h3 class="text-3xl md:text-4xl font-bold text-blue-900 mb-10 text-center">
            Nuestros Productos
        </h3>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            {
                productos.map(({ img, alt, titulo, parrafo }) => (
                    <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300 flex flex-col">
                        <img src={img} alt={alt} class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                        <div class="flex-1 flex flex-col justify-between">
                            <div>
                                <h4 class="font-bold text-blue-900 text-center break-words uppercase mb-2">
                                    {titulo}
                                </h4>
                                {parrafo && (
                                    <p class="text-sm text-gray-700 text-center mb-4">
                                        {parrafo}
                                    </p>
                                )}
                            </div>
                            <a href="#cotizar" class="inline-block px-6 py-2 rounded-full bg-gradient-to-r from-blue-900 to-blue-700 text-white text-center font-medium text-sm shadow-md hover:shadow-lg hover:scale-105 transform transition-all duration-300">
                                Solicitar Cotización
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>