<section class="py-12 bg-gray-100">
    <div class="max-w-screen-xl mx-auto px-4 py-12">
        <h3 class="text-3xl md:text-4xl font-bold text-blue-900 mb-10 text-center">
            Nuestros Líneas
        </h3>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10">
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/manguera-hdpe-1.png" alt="Tuberías HDPE" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    MANGUERAS HDPE
                </h4>
                <p class="text-gray-600 text-sm">
                    Alta resistencia para diversas aplicaciones industriales.
                </p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/cinta-para-riego.png" alt="Mangueras Duplex" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    CINTAS PARA RIEGO
                </h4>
                <p class="text-gray-600 text-sm">
                    Reforzadas, flexibles y duraderas para riego tecnificado.
                </p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/mangueras-pvc.png" alt="Accesorios de Riego" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    MANGUERAS PVC
                </h4>
                <p class="text-gray-600 text-sm">Distribución mayorista de conectores, válvulas y más.</p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/mangueras-de-nivel.png" alt="Aplicaciones en Construcción" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    MANGUERAS DE NIVEL
                </h4>
                <p class="text-gray-600 text-sm">Soluciones resistentes a químicos y altas temperaturas.</p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/accesorios-hdpe.png" alt="Tuberías HDPE" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    ACCESORIOS HDPE
                </h4>
                <p class="text-gray-600 text-sm">
                    Alta resistencia para diversas aplicaciones industriales.
                </p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/accesorios-dentados.png" alt="Mangueras Duplex" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    ACCESORIOS DENTADOS
                </h4>
                <p class="text-gray-600 text-sm">
                    Reforzadas, flexibles y duraderas para riego tecnificado.
                </p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/goteros.png" alt="Accesorios de Riego" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    GOTEROS
                </h4>
                <p class="text-gray-600 text-sm">Distribución mayorista de conectores, válvulas y más.</p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/valvulas.png" alt="Aplicaciones en Construcción" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    VALVULAS
                </h4>
                <p class="text-gray-600 text-sm">Soluciones resistentes a químicos y altas temperaturas.</p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/filtros.png" alt="Tuberías HDPE" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    FILTROS
                </h4>
                <p class="text-gray-600 text-sm">
                    Alta resistencia para diversas aplicaciones industriales.
                </p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/aspersores.png" alt="Mangueras Duplex" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    ASPERSORES
                </h4>
                <p class="text-gray-600 text-sm">
                    Reforzadas, flexibles y duraderas para riego tecnificado.
                </p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/mallas.png" alt="Accesorios de Riego" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    MALLAS
                </h4>
                <p class="text-gray-600 text-sm">Distribución mayorista de conectores, válvulas y más.</p>
            </div>
            <div class="bg-white rounded-2xl shadow-lg p-6 text-center hover:shadow-xl transition-shadow duration-300">
                <img src="/jebe-y-lona.png" alt="Aplicaciones en Construcción" class="w-full h-40 object-contain mb-6 rounded mx-auto" />
                <h4 class="font-bold text-blue-900 mb-2">
                    LINEA DE JEBE Y LONA
                </h4>
                <p class="text-gray-600 text-sm">Soluciones resistentes a químicos y altas temperaturas.</p>
            </div>
        </div>
    </div>
</section>