---
import "../styles/global.css";
const { title } = Astro.props;
const { pathname } = Astro.url;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Agroindustria Plastifer</title>
	</head>
	<body class="font-sans bg-gray-50 text-gray-950">
		<header class="bg-white text-blue-950 font-semibold p-6 shadow-lg">
			<div class="container mx-auto flex justify-between items-center">
				<a href="/" class="flex items-center space-x-2">
					<img src="/logo.png" alt="Plastifer Logo" class="h-8 md:h-10 w-auto" />
				</a>

				<nav class="hidden md:flex space-x-8 text-lg">
					<a href="/" class={`hover:text-lime-400 transition-colors ${pathname === '/' ? 'text-lime-400 font-bold' : ''}`}>Inicio</a>
					<a href="/productos" class={`hover:text-lime-400 transition-colors ${pathname.startsWith('/productos') ? 'text-lime-400 font-bold' : ''}`}>Productos</a>
					<a href="/nosotros" class={`hover:text-lime-400 transition-colors ${pathname === '/nosotros' ? 'text-lime-400 font-bold' : ''}`}>Nosotros</a>
					<a href="/contactanos" class={`hover:text-lime-400 transition-colors ${pathname === '/contactanos' ? 'text-lime-400 font-bold' : ''}`}>Contacto</a>
				</nav>

				<div class="md:hidden">
					<button id="menu-toggle" class="text-blue-950 p-2">
						<i class="fa fa-bars text-2xl"></i>
					</button>
				</div>
			</div>

			<!-- Menú móvil -->
			<div id="mobile-menu" class="md:hidden text-center p-4 space-y-4 hidden">
				<a href="/" class={`block text-white ${pathname === '/' ? 'text-lime-400 font-bold' : ''}`}>Inicio</a>
				<a href="/productos" class={`block text-white ${pathname.startsWith('/productos') ? 'text-lime-400 font-bold' : ''}`}>Productos</a>
				<a href="/nosotros" class={`block text-white ${pathname === '/nosotros' ? 'text-lime-400 font-bold' : ''}`}>Nosotros</a>
				<a href="/contactanos" class={`block text-white ${pathname === '/contactanos' ? 'text-lime-400 font-bold' : ''}`}>Contacto</a>
			</div>
		</header>

		<main class="min-h-screen">
			<slot />
		</main>

		<footer class="bg-blue-950 text-white p-4">
			<div class="container mx-auto text-center">
				© {new Date().getFullYear()} Agroindustria Plastifer EIRL - RUC 20608072692
			</div>
		</footer>

		<script>
			document.getElementById('menu-toggle')?.addEventListener('click', function () {
				const mobileMenu = document.getElementById('mobile-menu');
				mobileMenu?.classList.toggle('hidden');
			});
		</script>
	</body>
</html>